body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  overflow: hidden; /* Prevent scrolling */
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* MARK: - Styles for the Control Buttons */
#controls {
  position: absolute;
  top: 60px;
  left: 20px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 10;
}

#controls button {
  margin: 8px;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

#controls button.selected {
  border-radius: 12px;
  background: rgba(60, 108, 228);
}

#controls button img {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 12px;
}

#controls button:hover img {
  background: rgba(60, 108, 228);
}

#drawing-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background-image: radial-gradient(circle, black, transparent 1px);
  background-size: 10px 10px;
  z-index: 1; /* 确保 canvas 在底层 */
}

#canvas-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  z-index: 100;
}

#canvas-controls .button-container {
  position: relative;
  height: 30px;
  width: 100px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#canvas-controls #redo,
#undo {
  position: absolute;
  width: 50px;
  height: 50px;
}
#canvas-controls #undo {
  top: 0px;
  left: 10px;
}
.divider {
  width: 2px;
  height: 100%;
  background-color: #e0e0e0;
  margin: 0 47px;
}
#canvas-controls #redo {
  top: 0px;
  left: 60px;
}
#canvas-controls button {
  font-size: 14px;
  border: none;
  color: black;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#canvas-controls button img {
  width: 24px;
  height: 24px;
}

#canvas-controls button:hover {
  background: #f0f0f0;
}

#canvas-controls button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#call-api:active,
#call-api.active {
  transform: translateY(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#canvas-controls #call-api {
  background-color: #3c6ce4;
  width: 8rem;
  height: 50px;
  border-radius: 13px;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  align-items: center;
}
#canvas-controls #call-api:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#call-api img {
  width: 30px;
  height: 24px;
  margin-left: 10px;
}

#call-api span {
  font-size: 16px;
  margin-right: 6px;
  margin-left: 9px;
  color: white;
}
.output-area #prompt-area {
  position: absolute;
  top: 80px;
  right: 70px;
}
#prompt-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#prompt-area h3 {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 10px 0;
}
#prompt-area textarea {
  width: 250px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: vertical;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tabs {
  background-color: white;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 40px;
  z-index: 300;
  border-radius: 10px;
}

/* .tabs .left,
.tabs .right {
  flex: 1;
} */

.tabs {
  padding: 10px;
}

.tab {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 4px;
}

.tab.active {
  background-color: rgb(60, 108, 228);
  /* border-bottom: none; */
  border-radius: 10px;
}

.tab:hover {
  background-color: rgb(60, 108, 228);
  border-radius: 10px;
}

.tab-container {
  height: 40px;
  position: relative;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  justify-content: flex-end; /* 将标签容器靠右对齐 */
}

.tab img {
  width: 24px;
  height: 24px;
}

.content {
  padding: 20px;
}

#output-container {
  position: fixed;
  right: 155px;
  top: 10px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 740px;
  overflow: hidden;
  z-index: 10;
  border-radius: 15px;
}

#output-container {
  transition: width 0.3s ease-in-out;
}

#output-container.narrow {
  top: 80px;
  right: 20px;
  width: 320px;
  height: 160px;
}

/* width of the right panel  */
#output-container.wide {
  width: 1200px;
}

.output-area {
  width: 1150px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.output-area.narrow {
  width: 300px;
  height: 200px;
  padding: 10px;
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.output-area.wide {
  padding: 20px;
  box-shadow: none;
  background-color: transparent;
  border: none;
}

#prompt-area,
#code-area {
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.narrow #prompt-area,
.narrow #code-area {
  top: -20px;
  right: 10px;
  height: 300px;
}

.wide #prompt-area,
.wide #code-area {
  width: 200px;
}
#code-area {
  position: relative;
  width: 100%;
  height: 100%;
  right: 50px;
}

#copy-code,
#toggle-size {
  position: fixed;
  z-index: 21;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

#copy-code {
  top: 50px;
  right: 430px;
  background: none;
}

#toggle-size {
  top: 160px;
  right: 100px;
}

#copy-code:hover,
#toggle-size:hover {
  transform: scale(1.1);
}

#copy-code img,
#toggle-size img {
  width: 20px;
  height: 20px;
  fill: rgb(224, 224, 224);
}

/* left and right toggle panel buttons */
.arrow-button {
  position: fixed;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 300;
}
.preview-view #left-arrow {
  top: 83%;
  left: 23%;
}

.preview-view #right-arrow {
  top: 83%;
  right: 37%;
}

.preview-view.expanded .arrow-button {
  display: none;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(243, 16, 16, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(117, 232, 255, 0.998),
      0 0 30px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
-button {
  animation: glow 2s infinite;
}
.arrow-button img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  fill: white;
}

.arrow-button:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.arrow-button:active {
  transform: translateY(-50%) scale(0.95);
}

.preview-view {
  position: relative;
  width: 100%;
  height: 1300px;
  overflow: auto;
  transition: all 0.3s ease;
}

.preview-view.expanded #copy-code,
.preview-view.expanded #toggle-size {
  position: fixed;
}
.preview-view.expanded #copy-code {
  top: 160px;
  right: 75px;
}

.preview-view.expanded #toggle-size {
  top: 160px;
  right: 40px;
}

/* .lazy-load effect  */
.preview-view.expanded .lazy-load-overlay {
  opacity: 0;
}

.lazy-load-overlay {
  position: absolute;
  top: -39px;
  left: -32px;
  width: 1245px;
  height: 744px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  display: none;
}

.placeholder-website {
  width: 90%;
  height: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  height: 60px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 100px;
  height: 30px;
  background: #ccc;
  border-radius: 4px;
}

.main-content {
  display: flex;
  height: calc(100% - 60px);
}

.sidebar {
  width: 200px;
  background: #f5f5f5;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

.line,
.image-placeholder {
  background: #e0e0e0;
  margin-bottom: 12px;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.line {
  height: 12px;
}

.short {
  width: 30%;
}
.medium {
  width: 60%;
}
.long {
  width: 90%;
}

.image-placeholder {
  width: 100%;
  height: 150px;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery .image-placeholder {
  width: 30%;
  height: 80px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

#iframe-container iframe,
.preview-view #output {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 100;
}

.preview-view.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: white;
}

.preview-view.expanded #iframe-container iframe,
.preview-view.expanded #output {
  z-index: 10000;
  position: fixed;
  top: 20px;
  width: calc(100% - 200px);
  height: calc(100% - 10px);
  margin: 20px;
  margin-left: 80px;
}

.preview-view #output,
#iframe-container iframe {
  display: flex;
  position: absolute;
  margin-left: 30px;
  margin-top: -33px;
  max-height: 700px;
  max-width: 1300px;
  width: 1100px;
  height: 650px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
}

.toggle-container {
  position: absolute;
  z-index: 20;
  top: 100px;
  right: 40px;
  height: 40px;
  width: 150px;
  border-radius: 2rem;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.toggle-option {
  padding: 13px 17px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
}

.toggle-option.active {
  background-color: #476bdc;
  color: white;
  font-weight: medium;
}

.toggle-option:not(.active) {
  color: #9e9e9e;
}

.preview-view {
  height: auto;
  overflow: visible;
  z-index: 0;
}

.output-area {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#iframe-container,
#output {
  display: none;
}

#iframe-container.active,
#output.active {
  display: block;
}

#multiple-panel {
  position: relative;
  display: flex;
  gap: 10px;
  margin-left: 300px;
  margin-top: 620px;
  width: 600px;
  /* display: none;  */
}

.iteration-frame {
  flex: 0 0 100px;
  width: 80px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  overflow: hidden;
  background: transparent;
}

.iteration-frame.selected {
  border-color: #4f6ad5;
  box-shadow: 0 0 15px #4f6ad5;
  transform: scale(1.05);
}

.iteration-frame::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  z-index: -1;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.iteration-frame.selected::before {
  opacity: 1;
}

.iteration-frame:hover {
  transform: scale(1.05);
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(213, 213, 213, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: opacity 0.5s ease-out;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
.loading-bar {
  width: 0%;
  height: 5px;
  background-position: center;
  background-image: url("./ICONS/loading-bar.gif");
  background-color: #8ad1e4;
  transition: width 0.5s ease-in-out;
  opacity: 0.8;
  border-radius: 2rem;
}

.iteration-frame .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.844);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.iteration-frame:hover .overlay {
  opacity: 1;
}

.iteration-frame .overlay .iteration-number {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.iteration-frame iframe {
  width: 1024px;
  height: 768px;
  border: none;
  transform: scale(0.2);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#output-container .output-area #prompt-area,
#output-container .output-area #code-area {
  display: none;
}

#output-container .output-area #prompt-area.active,
#output-container .output-area #code-area.active {
  display: block;
}

#progress-container {
  position: absolute;
  top: -10px;
  left: 160px;
  width: 200px;
  z-index: 1000;
  /* display: none; */
}
#progress-container span {
  opacity: 0;
}

.toggle-container {
  right: 20px;
  top: 30px;
}

#water {
  display: none;
}

#progress-container label {
  position: relative;
  display: block;
  width: 800px;
  height: 20px;
  background: transparent;
  border-radius: 0.4rem;
  border: 1px solid rgba(204, 204, 204);
  overflow: hidden;
  box-shadow: -2px 0 8px 0 rgba(255, 255, 255, 0.6);
}

#fill {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #3c6ce4 35%, #3c6ce4);
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 0 8px 1px white inset;
}

#fill:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

#progress-container span {
  display: inline-block;
  color: #000000;
  font-weight: bolder;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
}

#progress-container span:last-child {
  float: right;
}

/* some animations */
@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* for small screen */
@media screen and (max-width: 1024px) {
  #prompt-area {
    flex-direction: column;
    align-items: stretch;
  }

  #prompt-area h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
  }

  #prompt-area textarea {
    width: 220px;
    height: 100px;
  }

  #prompt-area button {
    width: 8rem;
    margin-top: 10px;
  }
  #progress-container {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 10px;
    z-index: 20;
    /* display: none; */
  }
  /* width of the right panel  */
  #output-container.wide {
    width: 800px;
    overflow-y: auto;
    overflow-x: auto;
  }

  #iframe-container iframe {
    display: flex;
    position: absolute;
    max-height: 600px;
    margin-left: 100px;
    margin-top: 20px;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
  }
  .preview-view #output {
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    max-height: 700px;
    max-width: 1300px;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
  }
  #multiple-panel {
    position: relative;
    display: flex;
    gap: 10px;
    margin-left: 100px;
    margin-top: 450px;
    width: 600px;
    /* display:  none ;   */
  }
  .lazy-load-overlay {
    position: absolute;
    top: -4px;
    left: 70px;
    width: 683px;
    height: 465px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    display: none;
  }
}
.celebration-particle {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
}